In [1]:
import pandas as pd

In [2]:
dtype = {'ID_LAT_LON_YEAR_WEEK':'string',
         'latitude': 'float',
         'longitude': 'float',
         'year': 'int',
         'week_no': 'int',
         'emission': 'float'}

In [3]:
df = pd.read_csv('files/train.csv', dtype=dtype)
df

,ID_LAT_LON_YEAR_WEEK,latitude,longitude,year,week_no,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,SulphurDioxide_sensor_azimuth_angle,...,Cloud_cloud_top_height,Cloud_cloud_base_pressure,Cloud_cloud_base_height,Cloud_cloud_optical_depth,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_sensor_zenith_angle,Cloud_solar_azimuth_angle,Cloud_solar_zenith_angle,emission
0,ID_-0.510_29.290_2019_00,-0.510,29.290,2019,0,-0.000108,0.603019,-0.000065,0.255668,-98.593887,...,3664.436218,61085.809570,2615.120483,15.568533,0.272292,-12.628986,35.632416,-138.786423,30.752140,3.750994
1,ID_-0.510_29.290_2019_01,-0.510,29.290,2019,1,0.000021,0.728214,0.000014,0.130988,16.592861,...,3651.190311,66969.478735,3174.572424,8.690601,0.256830,30.359375,39.557633,-145.183930,27.251779,4.025176
2,ID_-0.510_29.290_2019_02,-0.510,29.290,2019,2,0.000514,0.748199,0.000385,0.110018,72.795837,...,4216.986492,60068.894448,3516.282669,21.103410,0.251101,15.377883,30.401823,-142.519545,26.193296,4.231381
3,ID_-0.510_29.290_2019_03,-0.510,29.290,2019,3,NaN,NaN,NaN,NaN,NaN,...,5228.507736,51064.547339,4180.973322,15.386899,0.262043,-11.293399,24.380357,-132.665828,28.829155,4.305286
4,ID_-0.510_29.290_2019_04,-0.510,29.290,2019,4,-0.000079,0.676296,-0.000048,0.121164,4.121269,...,3980.598120,63751.125781,3355.710107,8.114694,0.235847,38.532263,37.392979,-141.509805,22.204612,4.347317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
79018,ID_-3.299_30.301_2021_48,-3.299,30.301,2021,48,0.000284,1.195643,0.000340,0.191313,72.820518,...,5459.185355,60657.101913,4590.879504,20.245954,0.304797,-35.140368,40.113533,-129.935508,32.095214,29.404171
79019,ID_-3.299_30.301_2021_49,-3.299,30.301,2021,49,0.000083,1.130868,0.000063,0.177222,-12.856753,...,5606.449457,60168.191528,4659.130378,6.104610,0.314015,4.667058,47.528435,-134.252871,30.771469,29.186497
79020,ID_-3.299_30.301_2021_50,-3.299,30.301,2021,50,NaN,NaN,NaN,NaN,NaN,...,6222.646776,56596.027209,5222.646823,14.817885,0.288058,-0.340922,35.328098,-134.731723,30.716166,29.131205
79021,ID_-3.299_30.301_2021_51,-3.299,30.301,2021,51,-0.000034,0.879397,-0.000028,0.184209,-100.344827,...,7896.456885,46533.348194,6946.858022,32.594768,0.274047,8.427699,48.295652,-139.447849,29.112868,28.125792
79022,ID_-3.299_30.301_2021_52,-3.299,30.301,2021,52,-0.000091,0.871951,-0.000079,0.000000,76.825638,...,7553.295016,47771.681887,6553.295018,19.464032,0.226276,-12.808528,47.923441,-136.299984,30.246387,27.239302

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79023 entries, 0 to 79022
Data columns (total 76 columns):
 #   Column                                                    Non-Null Count  Dtype
---  ------                                                    --------------  -----
 0   ID_LAT_LON_YEAR_WEEK                                      79023 non-null  string
 1   latitude                                                  79023 non-null  float64
 2   longitude                                                 79023 non-null  float64
 3   year                                                      79023 non-null  int32
 4   week_no                                                   79023 non-null  int32
 5   SulphurDioxide_SO2_column_number_density                  64414 non-null  float64
 6   SulphurDioxide_SO2_column_number_density_amf              64414 non-null  float64
 7   SulphurDioxide_SO2_slant_column_number_density            64414 non-null  float64
 8   SulphurDioxide_cloud_fraction                             64414 non-null  float64
 9   SulphurDioxide_sensor_azimuth_angle                       64414 non-null  float64
 10  SulphurDioxide_sensor_zenith_angle                        64414 non-null  float64
 11  SulphurDioxide_solar_azimuth_angle                        64414 non-null  float64
 12  SulphurDioxide_solar_zenith_angle                         64414 non-null  float64
 13  SulphurDioxide_SO2_column_number_density_15km             64414 non-null  float64
 14  CarbonMonoxide_CO_column_number_density                   76901 non-null  float64
 15  CarbonMonoxide_H2O_column_number_density                  76901 non-null  float64
 16  CarbonMonoxide_cloud_height                               76901 non-null  float64
 17  CarbonMonoxide_sensor_altitude                            76901 non-null  float64
 18  CarbonMonoxide_sensor_azimuth_angle                       76901 non-null  float64
 19  CarbonMonoxide_sensor_zenith_angle                        76901 non-null  float64
 20  CarbonMonoxide_solar_azimuth_angle                        76901 non-null  float64
 21  CarbonMonoxide_solar_zenith_angle                         76901 non-null  float64
 22  NitrogenDioxide_NO2_column_number_density                 60703 non-null  float64
 23  NitrogenDioxide_tropospheric_NO2_column_number_density    60703 non-null  float64
 24  NitrogenDioxide_stratospheric_NO2_column_number_density   60703 non-null  float64
 25  NitrogenDioxide_NO2_slant_column_number_density           60703 non-null  float64
 26  NitrogenDioxide_tropopause_pressure                       60703 non-null  float64
 27  NitrogenDioxide_absorbing_aerosol_index                   60703 non-null  float64
 28  NitrogenDioxide_cloud_fraction                            60703 non-null  float64
 29  NitrogenDioxide_sensor_altitude                           60703 non-null  float64
 30  NitrogenDioxide_sensor_azimuth_angle                      60703 non-null  float64
 31  NitrogenDioxide_sensor_zenith_angle                       60703 non-null  float64
 32  NitrogenDioxide_solar_azimuth_angle                       60703 non-null  float64
 33  NitrogenDioxide_solar_zenith_angle                        60703 non-null  float64
 34  Formaldehyde_tropospheric_HCHO_column_number_density      71746 non-null  float64
 35  Formaldehyde_tropospheric_HCHO_column_number_density_amf  71746 non-null  float64
 36  Formaldehyde_HCHO_slant_column_number_density             71746 non-null  float64
 37  Formaldehyde_cloud_fraction                               71746 non-null  float64
 38  Formaldehyde_solar_zenith_angle                           71746 non-null  float64
 39  Formaldehyde_solar_azimuth_angle                          71746 non-null  float64
 40  Formaldehyde_sensor_zenith_angle                          71746 non-null  float64
 41  Formaldehyde_sensor_azimuth_angle                         71746 non-null  float64
 42  UvAerosolIndex_absorbing_aerosol_index                    78484 non-null  float64
 43  UvAerosolIndex_sensor_altitude                            78484 non-null  float64
 44  UvAerosolIndex_sensor_azimuth_angle                       78484 non-null  float64
 45  UvAerosolIndex_sensor_zenith_angle                        78484 non-null  float64
 46  UvAerosolIndex_solar_azimuth_angle                        78484 non-null  float64
 47  UvAerosolIndex_solar_zenith_angle                         78484 non-null  float64
 48  Ozone_O3_column_number_density                            78475 non-null  float64
 49  Ozone_O3_column_number_density_amf                        78475 non-null  float64
 50  Ozone_O3_slant_column_number_density                      78475 non-null  float64
 51  Ozone_O3_effective_temperature                            78475 non-null  float64
 52  Ozone_cloud_fraction                                      78475 non-null  float64
 53  Ozone_sensor_azimuth_angle                                78475 non-null  float64
 54  Ozone_sensor_zenith_angle                                 78475 non-null  float64
 55  Ozone_solar_azimuth_angle                                 78475 non-null  float64
 56  Ozone_solar_zenith_angle                                  78475 non-null  float64
 57  UvAerosolLayerHeight_aerosol_height                       439 non-null    float64
 58  UvAerosolLayerHeight_aerosol_pressure                     439 non-null    float64
 59  UvAerosolLayerHeight_aerosol_optical_depth                439 non-null    float64
 60  UvAerosolLayerHeight_sensor_zenith_angle                  439 non-null    float64
 61  UvAerosolLayerHeight_sensor_azimuth_angle                 439 non-null    float64
 62  UvAerosolLayerHeight_solar_azimuth_angle                  439 non-null    float64
 63  UvAerosolLayerHeight_solar_zenith_angle                   439 non-null    float64
 64  Cloud_cloud_fraction                                      78539 non-null  float64
 65  Cloud_cloud_top_pressure                                  78539 non-null  float64
 66  Cloud_cloud_top_height                                    78539 non-null  float64
 67  Cloud_cloud_base_pressure                                 78539 non-null  float64
 68  Cloud_cloud_base_height                                   78539 non-null  float64
 69  Cloud_cloud_optical_depth                                 78539 non-null  float64
 70  Cloud_surface_albedo                                      78539 non-null  float64
 71  Cloud_sensor_azimuth_angle                                78539 non-null  float64
 72  Cloud_sensor_zenith_angle                                 78539 non-null  float64
 73  Cloud_solar_azimuth_angle                                 78539 non-null  float64
 74  Cloud_solar_zenith_angle                                  78539 non-null  float64
 75  emission                                                  79023 non-null  float64
dtypes: float64(73), int32(2), string(1)
memory usage: 45.2 MB

In [5]:
df.describe()

,latitude,longitude,year,week_no,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,SulphurDioxide_sensor_azimuth_angle,SulphurDioxide_sensor_zenith_angle,...,Cloud_cloud_top_height,Cloud_cloud_base_pressure,Cloud_cloud_base_height,Cloud_cloud_optical_depth,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_sensor_zenith_angle,Cloud_solar_azimuth_angle,Cloud_solar_zenith_angle,emission
count,79023.000000,79023.000000,79023.000000,79023.000000,64414.000000,64414.000000,64414.000000,64414.000000,64414.000000,64414.000000,...,78539.000000,78539.000000,78539.000000,78539.000000,78539.000000,78539.000000,78539.000000,78539.000000,78539.000000,79023.000000
mean,-1.891072,29.880155,2020.000000,26.000000,0.000048,0.834848,0.000035,0.158418,-7.925870,37.436189,...,5592.377478,59420.297456,4670.430869,19.139241,0.271460,-10.784832,40.436976,-86.800583,27.925981,81.940552
std,0.694522,0.810375,0.816502,15.297155,0.000272,0.185382,0.000206,0.071364,64.263368,14.149950,...,1428.503002,9051.163609,1359.251583,13.547047,0.049434,30.374462,6.428216,37.837269,4.403835,144.299648
min,-3.299000,28.228000,2019.000000,0.000000,-0.000996,0.241822,-0.000887,0.000000,-179.537059,0.099237,...,1050.661782,24779.033704,1050.496816,1.844529,0.017697,-102.739731,2.998873,-153.464211,10.818288,0.000000
25%,-2.451000,29.262000,2019.000000,13.000000,-0.000096,0.705817,-0.000078,0.110535,-56.782383,28.844520,...,4595.400519,53175.779928,3680.856344,9.974574,0.241453,-30.309170,35.829907,-125.991158,24.686763,9.797995
50%,-1.882000,29.883000,2020.000000,26.000000,0.000024,0.809118,0.000019,0.161855,-12.441726,37.784299,...,5573.854309,59332.532548,4621.755170,15.130688,0.272747,-12.673914,41.119630,-84.644352,28.333630,45.593445
75%,-1.303000,30.471000,2021.000000,39.000000,0.000153,0.942792,0.000121,0.211824,72.059990,47.634875,...,6542.303642,65663.842684,5572.983223,23.785030,0.302892,9.402202,44.446272,-48.132701,31.499883,109.549595
max,-0.510000,31.532000,2021.000000,52.000000,0.004191,1.885239,0.004236,0.299998,122.095200,66.242012,...,12384.239458,89291.615576,11384.239458,250.000000,0.736514,78.223037,65.951248,-22.653170,42.060436,3167.768000

In [6]:
df.groupby(['latitude', 'longitude'])[['year', 'week_no']].count()

                    year  week_no
latitude longitude
-3.299   30.301      159      159
-3.287   29.713      159      159
-3.174   29.926      159      159
-3.161   28.839      159      159
-3.153   30.347      159      159
...                  ...      ...
-0.598   29.102      159      159
-0.569   30.031      159      159
-0.547   29.653      159      159
-0.528   29.472      159      159
-0.510   29.290      159      159

[497 rows x 2 columns]

In [7]:
df.groupby(['latitude', 'longitude'])[['year', 'week_no']].min()

                    year  week_no
latitude longitude
-3.299   30.301     2019        0
-3.287   29.713     2019        0
-3.174   29.926     2019        0
-3.161   28.839     2019        0
-3.153   30.347     2019        0
...                  ...      ...
-0.598   29.102     2019        0
-0.569   30.031     2019        0
-0.547   29.653     2019        0
-0.528   29.472     2019        0
-0.510   29.290     2019        0

[497 rows x 2 columns]

In [8]:
df.groupby(['latitude', 'longitude'])[['year', 'week_no']].max()

                    year  week_no
latitude longitude
-3.299   30.301     2021       52
-3.287   29.713     2021       52
-3.174   29.926     2021       52
-3.161   28.839     2021       52
-3.153   30.347     2021       52
...                  ...      ...
-0.598   29.102     2021       52
-0.569   30.031     2021       52
-0.547   29.653     2021       52
-0.528   29.472     2021       52
-0.510   29.290     2021       52

[497 rows x 2 columns]

In [10]:
df2 = pd.read_csv('files/test.csv', dtype=dtype)
df2

,ID_LAT_LON_YEAR_WEEK,latitude,longitude,year,week_no,SulphurDioxide_SO2_column_number_density,SulphurDioxide_SO2_column_number_density_amf,SulphurDioxide_SO2_slant_column_number_density,SulphurDioxide_cloud_fraction,SulphurDioxide_sensor_azimuth_angle,...,Cloud_cloud_top_pressure,Cloud_cloud_top_height,Cloud_cloud_base_pressure,Cloud_cloud_base_height,Cloud_cloud_optical_depth,Cloud_surface_albedo,Cloud_sensor_azimuth_angle,Cloud_sensor_zenith_angle,Cloud_solar_azimuth_angle,Cloud_solar_zenith_angle
0,ID_-0.510_29.290_2022_00,-0.510,29.290,2022,0,NaN,NaN,NaN,NaN,NaN,...,36022.027344,8472.313477,41047.937500,7472.313477,7.935617,0.240773,-100.113792,33.697044,-133.047546,33.779583
1,ID_-0.510_29.290_2022_01,-0.510,29.290,2022,1,0.000456,0.691164,0.000316,0.000000,76.239196,...,48539.737242,6476.147323,54915.708579,5476.147161,11.448437,0.293119,-30.510319,42.402593,-138.632822,31.012380
2,ID_-0.510_29.290_2022_02,-0.510,29.290,2022,2,0.000161,0.605107,0.000106,0.079870,-42.055341,...,34133.080469,8984.795703,39006.093750,7984.795703,10.753179,0.267130,39.087361,45.936480,-144.784988,26.743361
3,ID_-0.510_29.290_2022_03,-0.510,29.290,2022,3,0.000350,0.696917,0.000243,0.201028,72.169566,...,50854.991076,6014.724059,57646.368368,5014.724115,11.764556,0.304679,-24.465127,42.140419,-135.027891,29.604774
4,ID_-0.510_29.290_2022_04,-0.510,29.290,2022,4,-0.000317,0.580527,-0.000184,0.204352,76.190865,...,46594.685145,6849.280477,52896.541873,5849.280394,13.065317,0.284221,-12.907850,30.122641,-135.500119,26.276807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24348,ID_-3.299_30.301_2022_44,-3.299,30.301,2022,44,-0.000618,0.745549,-0.000461,0.234492,72.306198,...,48839.430415,6260.120033,55483.459980,5260.120056,30.398508,0.180046,-25.528588,45.284576,-116.521412,29.992562
24349,ID_-3.299_30.301_2022_45,-3.299,30.301,2022,45,NaN,NaN,NaN,NaN,NaN,...,47042.694849,6678.843299,53589.917383,5678.951521,19.223844,0.177833,-13.380005,43.770351,-122.405759,29.017975
24350,ID_-3.299_30.301_2022_46,-3.299,30.301,2022,46,NaN,NaN,NaN,NaN,NaN,...,55337.148173,5336.282475,62646.761340,4336.282491,13.801194,0.219471,-5.072065,33.226455,-124.530639,30.187472
24351,ID_-3.299_30.301_2022_47,-3.299,30.301,2022,47,0.000071,1.003805,0.000077,0.205077,74.327427,...,44813.691428,7188.578533,50728.313991,6188.578464,27.887489,0.247275,-0.668714,45.885617,-129.006797,30.427455
24352,ID_-3.299_30.301_2022_48,-3.299,30.301,2022,48,NaN,NaN,NaN,NaN,NaN,...,40528.702057,7777.863638,46260.039092,6777.863819,23.771269,0.239684,-40.826139,30.680056,-124.895473,34.457720

In [11]:
df2.groupby(['latitude', 'longitude'])[['year', 'week_no']].count()

                    year  week_no
latitude longitude
-3.299   30.301       49       49
-3.287   29.713       49       49
-3.174   29.926       49       49
-3.161   28.839       49       49
-3.153   30.347       49       49
...                  ...      ...
-0.598   29.102       49       49
-0.569   30.031       49       49
-0.547   29.653       49       49
-0.528   29.472       49       49
-0.510   29.290       49       49

[497 rows x 2 columns]

In [12]:
df2.groupby(['latitude', 'longitude'])[['year', 'week_no']].min()

                    year  week_no
latitude longitude
-3.299   30.301     2022        0
-3.287   29.713     2022        0
-3.174   29.926     2022        0
-3.161   28.839     2022        0
-3.153   30.347     2022        0
...                  ...      ...
-0.598   29.102     2022        0
-0.569   30.031     2022        0
-0.547   29.653     2022        0
-0.528   29.472     2022        0
-0.510   29.290     2022        0

[497 rows x 2 columns]

In [13]:
df2.groupby(['latitude', 'longitude'])[['year', 'week_no']].max()

                    year  week_no
latitude longitude
-3.299   30.301     2022       48
-3.287   29.713     2022       48
-3.174   29.926     2022       48
-3.161   28.839     2022       48
-3.153   30.347     2022       48
...                  ...      ...
-0.598   29.102     2022       48
-0.569   30.031     2022       48
-0.547   29.653     2022       48
-0.528   29.472     2022       48
-0.510   29.290     2022       48

[497 rows x 2 columns]

In [14]:
len(df), len(df2)

(79023, 24353)

need to forecast the next 49 (!) weeks